[Desktop Entry]
Name=Twitch4SteamDeck
Comment=Twitch client for Steam Deck
Exec=twitch4steamdeck
Icon=tv.twitch4steamdeck.App
Type=Application
Categories=AudioVideo;Player;Network;
StartupWMClass=twitch4steamdeck
